---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "Uses">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Uses</div>
  </div>

  <div class="mb-10 text-justify">
    The tools I use daily basis.
  </div>

</BaseLayout>
